# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env
# Build directory
build/

# Log files
*.log
logs/

# Gradle files
.gradle/**

# IntelliJ IDEA files
.idea/**

# Eclipse files
.metadata/**

# MacOS files
.DS_Store

# Windows files
Thumbs.db

# Java specific
bin/
target/
*.class

# VS Code
.vscode/

# Secrets and configuration
**/application-local.properties
**/application-dev.properties
**/application-prod.properties
**/application-secrets.properties
